/*directorstyle.css*/

	/*Sets the nav bar to have a color gradient*/
	nav {
		background: linear-gradient(to bottom, #2838c8, #391fa3);
    }
	
	/*This removes the bullet points from an unorder list*/
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	/*This makes the nav bar horizontal. 
	Removing this will make the nav bar vertical on the top of the webpage*/
	li {
		float: left;
	}

	/*This sets up the text for the nav bar*/
	li a {
		display: block;
		font-family: Helvetica;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	/* Change the link color to 
	linear-gradient(to bottom, #c9d3ff, #391fa3) on hover*/
	li a:hover {
		background: linear-gradient(to bottom, #c9d3ff, #391fa3);
	}
	
	/*This prevents the user from scrolling horizontally.
	This is needed since the background breaks without it*/
	body {
		overflow-x: hidden;
	}
	
	/*----CLASSES FOR WEBPAGES----*/
	
	/* This sets up the positioning for the images on the directors page*/
	.dirimage{
		float: left;
		margin-left: 100px;
		width: 250px;
		height: 250px;
		border: none;
	}
	
	/* This sets up the positioning for the director's biography on the directors page.
	This is not noticeable unless the user's web browser is in an odd ratio*/
	.dirtext{
		float: left;
		margin-left: 100px;
		width: 75%;
		border: none;
		font-family: Georgia;
		line-height: 1.5;
	}
	
	/* This creates a pattern for the background on the main body for the 
	directors webpage*/
	.gradpattern {
		background-image: linear-gradient(to bottom, rgba(75,100,255,.5), rgba(255,255,255,1));
	}
