/*homestyle.css*/

	/*Sets the nav bar to have a color gradient*/
	nav {
		background: linear-gradient(to bottom, #2838c8, #391fa3);
    	}
	
	/*This removes the bullet points from an unorder list*/
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	/*This makes the nav bar horizontal. 
	Removing this will make the nav bar vertical on the top of the webpage*/
	li {
		float: left;
	}

	/*This sets up the text for the nav bar*/
	li a {
		display: block;
		font-family: Helvetica;
		font-size: 20px;
		color: white;
		text-align: center;
		padding: 20px 16px;
		text-decoration: none;
	}

	/* Change the link color to 
	linear-gradient(to bottom, #c9d3ff, #391fa3) on hover*/
	li a:hover {
		background: linear-gradient(to bottom, #111155, #1111aa);
	}
	
	/*This prevents the user from scrolling horizontally.
	This is needed since the background breaks without it.
	This also fixes the padding around the navbar*/
	body {
		overflow-x: hidden;
		margin:0px;
	}
	
	/*This sets up the table's row and column position at the bottom of the webpage*/
	th, td {
		width: 250px;
		overflow: hidden;
	}
	
	/*This edits the hr bar*/
	hr {
		width: 250px;
		color: #eeeeee;
	}

	/*----CLASSES FOR WEBPAGES----*/
	
	/* This sets up the positioning for the header images for the home page*/
	.homeheader{
		height: 400px;
		border: none;
		background-image: url("https://webpage.pace.edu/RZ09697P/images/Careers_lab_gradwork_1280x720.jpg");
		background-size: 2000px 750px;
	}
	
	/* This sets up the positioning for the logo in the header of the home page*/
	.homelogo{
		margin: auto;
		position: absolute;
		width: 100%;
		top: 100px;
		border: none;
	}
	
	/* This sets up the positioning for the images for the home page*/
	.homeimage{
		float: left;
		margin-left: 100px;
		border: none;
	}
	
	/* This sets up the positioning for the homepage text.
	This is not noticeable unless the user's web browser is in an odd ratio*/
	.hometext{
		float: left;
		margin-left: 200px;
		width: 50%;
		border: none;
		font-family: Verdana;
	}
	
	/* This sets up the about section of the home page by
	bundling .homeimage and .hometext*/
	.homecont{
		float: left;
		border-style: solid hidden;
		border-color: #555555;
		background: #ffffff;
	}
	
	/* This creates a pattern for the background on the main body for the 
	home webpage*/
	.gradpattern {
		background-image: linear-gradient(to bottom, rgba(75,100,255,.5), rgba(255,255,255,1));
	}
	
	/* This sets up the positioning for the footer content of the webpage
	which consist of the grant and the websites funding this website*/
	.footcont {
		text-align: center;
		border: none;
		font-family: Georgia;
		line-height: 1.5;
	}
